<br>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>formulario invaido</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    
  <% end %>
  <div class="hero-unit span3 offset3" >
    <div class="field">
      <%= f.label :nombre_de_usuario %>
      <%= f.text_field :username %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :Clave %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :Confirmar_Clave %>
      <%= f.password_field :password_confirmation %>
    </div>
  

    <div class="actions"><%= f.submit :balue=>"Actualizar Usuario",:class=>"btn btn-success btn-mini" %>
    <%= link_to 'Atras', users_path, :class=>"btn btn-info btn-mini"%></div>  
     <% end %>
  </div>

