<%= simple_form_for([@curso,@estudiante ], :html => { :multipart => true, :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
  
  <%= f.file_field :imagen %>
  <%= f.input :nombre, :label => "Nombre"  %>
  <%= f.input :apellido, :label => "Apellido" %>
  <%= f.input :cedula, :label => "Cedula"  %>
  <%= f.input :telefono, :label => "Telefono"  %>
  <%= f.input :email, :label => "Email"  %>
  <%= f.input :direccion, :label => "Direccion"  %>
  <br>
  <div class="form-actions">
    <%= f.submit "guardar", :remote => true, :class => 'btn btn-primary' %>
    <%= link_to "Atras", curso_estudiantes_path, :class => 'btn btn-small' %>
  </div>
<% end %>
