<ul class="nav">
	<% if current_user %>
	<li>
	<%= link_to('Cursos', cursos_path) %>
	</li>
	<li>
	<%= link_to('Materias', materias_path) %>
	</li>
	<li>
	<%= link_to('Horarios', horarios_path) %>
	</li>
	<div id="pos">
	<b>Usuario:</b>	 <%= current_user.username %>
       <%= link_to "cerrar sesion", logout_path, :class=>"btn btn-mini btn-primary" %>
      <% else %>
       <!--<%= link_to "Crear cuenta", signup_path, :class=>"btn btn-mini btn-primary" %> 
       <%= link_to "iniciar sesion", login_path, :class=>"btn btn-mini btn-primary" %></div>-->


      <% end %>

</ul>